<!-- Header -->
			<section id="header">
				<header>
					<h1>Eight Verses of <br>Training the Mind</h1>
					<p>A reading based on the commentaries by H.H the Dalai Lama<br / > on the Eight verses</p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly">Brief Introduction</a>
				</footer>
			</section>
		
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Brief Introduction</h2>
				</header>
				<p>Eight Verses of Training the Mind (Tib. བློ་སྦྱོང་ཚིགས་རྐང་བརྒྱད་མ་) is a famous text on <strong>lojong</strong> by <a href="http://www.rigpawiki.org/index.php?title=Geshe_Langri_Tangpa">Geshe Langri Tangpa.</a><br /><br />
				The word <em>lo</em> means mind, but specifically the untamed thinking mind. <em>Jong</em> can mean to learn, exercise, train, purify or refine. Zenkar Rinpoche explains that in this context jong means to use powerful remedies or antidotes in order to subjugate, tame or transform the mind.<br/><br/>
These powerful remedies, which include both skilful means and wisdom are employed to subjugate the self-clinging, based on a false conception of self, that is at the root of all suffering. The wisdom methods, such as meditative analysis, lead to the realization of selflessness, while the skilful means focus on the development of great compassion, through the meditative practices of equalizing ourselves and others, exchanging ourselves and others and considering others as more important than ourselves.</p><br/><p style="font-size:20px"> <a href="http://www.rigpawiki.org/index.php?title=Lojong">- from Rigpa Wiki</a></p>
				<footer>
					<a href="#first" class="button style2 scrolly">Scroll down to begin</a>
				</footer>
			</section>
		<!-- Portfolio -->
			<article class="container box style2">
				<header>
					<h2>Verse 1</h2>
					<p>With a determination to achieve the highest aim<br />
						For the benefit of all sentient beings<br />
						Which surpasses even the wish-fulfilling gem,<br />
						May I hold them dear at all times.</p>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 2</h2>
					<p>Whenever I interact with someone,<br />
						May I view myself as the lowest amongst all,<br />
						And, from the very depths of my heart,<br />
						Respectfully hold others as superior.<br />
					</p>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 3</h2>
					<p>In all my deeds may I probe into my mind,<br />
And as soon as mental and emotional afflictions arise-<br />
As they endanger myself and others-<br />
May I strongly confront them and avert them.</p>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 4</h2>
					<p>When I see beings of unpleasant character<br />
Oppressed by strong negativity and suffering,<br />
May I hold them dear-for they are rare to find-<br />
As if I have discovered a jewel treasure!</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/120478577"></iframe>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 5</h2>
					<p>When others, out of jealousy<br />
Treat me wrongly with abuse, slander, and scorn,<br />
May I take upon myself the defeat<br />
And offer to others the victory.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/88663976"></iframe>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 6</h2>
					<p>When someone whom I have helped,<br />
Or in whom I have placed great hopes,<br />
Mistreats me in extremely hurtful ways,<br />
May I regard him still as my precious teacher.</p>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 7</h2>
					<p>In brief, may I offer benefit and joy<br />
To all my mothers, both directly and indirectly,<br />
May I quietly take upon myself<br />
All hurts and pains of my mothers.</p>
			</article>
			<article class="container box style2">
				<header>
					<h2>Verse 8</h2>
					<p>May all this remain undefiled<br />
By the stains of the eight mundane concerns;<br />
And may I, recognizing all things as illusion,<br />
Devoid of clinging, be released from bondage.</p>
			</article>
		
		
		
		<!-- Generic -->
	
			<article class="container box style3">
				
				<section>
					<header>
						<h3>Generating the Mind for Enlightenment</h3>
					</header>
					<p>For those who admire the spiritual ideals of the Eight verses on Transforming the Mind it is helpful to recite the following verses for generating the mind for enlightenment. Practicing Buddhists should recite the verses and reflect upon the meaning of the words, while trying to enhance their altruism and compassion. Those of you who are practitioners of other religious traditions can draw from your own spiritual teachings, and try to commit yourselves to cultivating altruistic thoughts in pursuit of the altruistic ideal.</p>
</section>
				<section>
					<blockquote>With a wish to free all beings<br />
I shall always go for refuge<br />
to the Buddha, Dharma and Sangha<br />
until I reach full enlightenment.<br /><br />

Enthused by wisdom and compassion,<br />
today in the Buddha’s presence<br />
I generate the Mind for Full Awakening<br />
for the benefit of all sentient beings.<br /><br />

As long as space endures,<br />
as long as sentient being remain,<br />
until then, may I too remain<br />
and dispel the miseries of the world.</blockquote>
				</section>
				<section>
					
					<p>In conclusion, those who like myself, consider themselves to be followers of Buddha, should practice as much as we can. To followers of other religious traditions, I would like to say, “Please practice your own religion seriously and sincerely.” And to non-believers, I request you to try to be warm-hearted. I ask this of you because these mental attitudes actually bring us happiness. As I have mentioned before, taking care of others actually benefits you.</p><blockquote> - His Holiness the Dalai Lama</blockquote>
					<hr />
				</section>
				
				<section>
					<header>
						<h3>Translations & Contemporary Commentaries</h3>
					</header>
					<ol class="default">
						<li><a href="http://www.rigpawiki.org/index.php?title=Ch%C3%B6kyi_Nyima_Rinpoche">Chökyi Nyima Rinpoche.</a> In Dragpa, Chökyi. Uniting Wisdom and Compassion. Translated by Heidi I. Köppl (Boston: Wisdom Publications, 2004)</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Dalai_Lama">Dalai Lama.</a> The Union of Bliss and Emptiness (Ithaca: Snow Lion Publications, 1988)</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Dalai_Lama">Dalai Lama.</a> His Holiness. Transforming the Mind (London: Thorsons, 2000)</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Dalai_Lama">Dalai Lama.</a> His Holiness. The Heart of Compassion: A Practical Approach to a Meaningful Life (Lotus Press, 2002), Chapter 23</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Dalai_Lama">Dalai Lama.</a> His Holiness and Rajiv Mehrotra. In My Own Words: An Introduction to My Teachings and Philosophy (Hay House, 2008), Chapter 8</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Dalai_Lama">Dalai Lama.</a> Lighting the Way (Ithaca: Snow Lion Publications, 2005)</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Dalai_Lama">Dalai Lama.</a> His Holiness. Kindness, Clarity and Insight (Ithaca: Snow Lion, 2006)</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Jinpa,_Thupten">Jinpa, Thupten. </a>Mind Training: The Great Collection (Boston: Wisdom Publications, 2006): contains translations of the root text and Geshe Chekawa's commentary</li>
						<li>Geshe Rabten, Gonsar Tenzin Khedup and Lobsang Kalden. In His Holiness the XIVth Dalai Lama, Four Essential Buddhist Commentaries (Dharamsala: Library of Tibetan Works and Archives, 1982)</li>
						<li>Sermey Khensur Lobsang Tharchin, The Essence of Mahayana Lojong Practice: An Oral Commentary to Geshe Langri Tangpa's Mind Training in Eight Verses. Mahayana Sutra & Tantra Pr., 1997</li>
						<li>Sonam Rinchen, Geshe. Eight Verses for Training the Mind. Translated by Ruth Sonam (Ithaca: Snow Lion, 2001, revised 2006)</li>
						<li>Tashi Tsering, Geshe. The Awakening Mind: The Foundation of Buddhist Thought (Boston: Wisdom Publications, 2008)</li>
						<li><a href="http://www.rigpawiki.org/index.php?title=Thurman,_Robert_A._F.">Thurman, Robert A. F. </a>Essential Tibetan Buddhism. Harper Collins. 1995</li>
						<li>Tsultrim Gyaltsen, Geshe. Compassion: The Key to Great Awakening (Boston: Wisdom Publications, 1997)</li>

					</ol>
				</section>
				
			</article>
<section id="footer">
			
			<div class="copyright">
				<ul class="menu">
					<li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a> </li><br/><p>Developed for: <a href="http://vajratv.com/">VajraTV: Global Buddhist Telvision Network</a></p>
					<p>Free and Open Source: <a href="https://github.com/vajradog/mindtraining">Download Source Code</a> | Made with love by: <a href="https://github.com/vajradog/mindtraining">@vajradog</a></li></p>
				</ul>
			</div>
		</section>
